.input-imgs {
    &__thumbs {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin: -10px;
    }

    &__thumb {
        display: inline-block;
        position: relative;
        width: percentage(3 / 12);
        padding: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: grab;

        &-img {
            max-width: 100%;
        }

        &-remove {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #0073aa;
            color: color('white');
            font-weight: font-weight('bold');
            cursor: pointer;

            &:hover {
                background: #c00;
                color: color('white');
            }
        }

        &:hover &-remove {
            display: flex;
        }
    }

    &__footer {
        margin-top: 15px;
    }
}
